In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from pprint import pprint
import json
import gmaps
import os
from config import g_api

In [2]:
data = pd.read_csv('../WeatherPy/output_data.csv').replace({None : 'NA'})

# 'NA' is the 2 letter code openweatherapi uses for Namibia. The Pandas read_csv function interprets 'NA' as
# None/NaN, so I had to add that replace function to fix it. There are no NaN values actually in the dataset.

gmaps.configure(api_key=g_api)

In [3]:
coords = data[['Latitude', 'Longitude']]
humid = data['Humidity (%)'].astype(int)

In [ ]:
fig = gmaps.figure()

heatmap = gmaps.heatmap_layer(coords, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)

fig.add_layer(heatmap)

fig

In [5]:
ideal = data[(((data['Humidity (%)'] < 40) &
            (data['Temperature'] < 85) & (data['Temperature'] > 70)) | ((data['Temperature'] > 55) &
            (data['Temperature'] < 70) & (data['Humidity (%)'] < 60))) &
            (data['Cloudiness (%)'] < 30) &
            (data['Wind Speed (mph)'] < 4.9)]

# I have used some compounded criteria here. I'm ok with it being more humid as long as it is colder, so 
# the city gets included if it has temperature 70-85 AND humidity < 40, or if it has temperature 55-70 AND 
# humidity < 60

ideal

,City,Latitude,Longitude,Temperature,Humidity (%),Wind Speed (mph),Cloudiness (%),Country
54,East London,-33.02,27.91,56.88,36,4.79,0,ZA
226,Roebourne,-20.78,117.13,76.59,29,3.60,0,AU
335,Cassil창ndia,-19.11,-51.73,68.36,45,2.91,0,BR
364,Fairbanks,64.84,-147.72,66.51,52,4.70,20,US
429,Batemans Bay,-35.72,150.18,61.00,52,3.00,0,AU

In [6]:

params = {
    "radius": 5000,
    "type": 'lodging',
    "key": g_api
}

# Creating these three parameters here as they won't change for any of our requests. 
# The location parameter is changed from inside the loop for each city. 

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

coords = list(zip(ideal['Latitude'], ideal['Longitude']))
cities = ideal['City'].to_list()
countries = ideal['Country'].to_list()
lats = []
lngs = []
hotels = []

for cp in coords:
    params['location'] = str(cp[0]) + ', ' + str(cp[1])
    response = requests.get(base_url, params=params)
    
    lats.append(response.json()['results'][0]['geometry']['location']['lat'])
    lngs.append(response.json()['results'][0]['geometry']['location']['lng'])
    hotels.append(response.json()['results'][0]['name'])
    

hotel_df = pd.DataFrame({
    'Hotel Name' : hotels,
    'Lat' : lats,
    'Lng' : lngs,
    'City' : cities,
    'Country' : countries,
})

In [7]:
hotel_df

,Hotel Name,Lat,Lng,City,Country
0,Tu Casa,-32.985159,27.923570,East London,ZA
1,Harding River Caravan Park,-20.776723,117.150608,Roebourne,AU
2,Hotel Rafa Cassil창ndia,-19.113682,-51.733121,Cassil창ndia,BR
3,Westmark Fairbanks Hotel & Conference Center,64.839906,-147.712346,Fairbanks,US
4,Coachhouse Marina Resort - Batemans Bay,-35.717871,150.190809,Batemans Bay,AU

In [8]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]


markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

In [ ]:
fig.add_layer(markers)
fig